<nav>
    <app-home-icon
      [iconSize]="40"
      [strokeColour]="strokeHome"
      [fillColour]="fillHome"
      title="Home"
      routerLink="/home"
    ></app-home-icon>
    <app-info-icon
      [iconSize]="5"
      [strokeColour]="strokeInfo"
      [fillColour]="fillInfo"
      title="Info"
      routerLink="/info"
    ></app-info-icon>
    <app-settings-icon
      [iconSize]="5"
      [strokeColour]="strokeSettings"
      [fillColour]="fillSettings"
      title="Settings"
      routerLink="/settings"
    ></app-settings-icon>
    <app-debug-icon
      [iconSize]="7"
      [strokeColour]="strokeDebug"
      [fillColour]="fillDebug"
      title="Settings"
      routerLink="/debug"
    ></app-debug-icon>
  </nav>
