<main>
  <header>
    <p>Recording: {{ rs.state }}, Playback: {{ ps.state }}</p>
  </header>
  <section id="record" (click)="record()">
    <app-mic
      [iconSize]="30"
      [defaultColour]="defaultColour"
      [selectedColour]="selectedColour"
      title="Record"
      [text]="'Record'"
    ></app-mic>
  </section>
  <section id="play" (click)="play()">
    <app-play
      [iconSize]="30"
      [defaultColour]="defaultColour"
      [selectedColour]="selectedColour"
      title="Playback"
      [text]="'Playback'"
    ></app-play>
  </section>
  <audio controls class="audio-element hide"></audio>
</main>
