main {
  height: 89vh;
  display: flex;
  flex-direction: column;



  & header {
    // height: 4%;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & section {
    flex-grow: 1;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & audio {
    visibility: hidden;
    height: 0;
  }
}
