main {
  height: 89vh;
  display: flex;
  flex-direction: column;

  & header {
    // height: 4%;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & #record-play {
    flex-grow: 1;
    display: flex;
    flex-direction: var(--direction);

    & section {
      flex-grow: 1;
      border: 2px solid green;
      display: flex;
      justify-content: var(--justify-content);
      align-items: var(--align-items);
      background-color: var(--background-color);
    }
  }


  & audio {
    // visibility: visible;
    // height:40;
    visibility: hidden;
    height: 0;
  }
}
